body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #eaeaea;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.enigma {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    width: 90%;
    max-width: 450px;
}

.enigma img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #607D8B;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #546E7A;
}

#errorMessage {
    color: #D32F2F;
    margin-top: 15px;
    font-size: 1em;
}

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');


